.header {
  background-color: rgb(133, 0, 241);
  color: rgba(255, 255, 255, .8);
  padding: 2rem;
  display: flex;
  align-items: center;
}

.logo {
  flex: 1;
}

.nav {
  & * {
    margin-right: 1rem;
  }

  & :last-child {
    margin-right: 0;
  }

  a {
    color: rgba(255, 255, 255, .9);
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0 .2rem;

    &:hover {
      border-bottom: 2px solid #FFF;
    }
  }
}

.btn {
  padding: .5rem 1rem;
  border-radius: .5rem;
  border: none;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, .9);
  color: #2a2a2a;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, .5);
  }
}